.avatar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.avatar_img{
    margin: 1em 0em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color:white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#avatar-img{
  border-radius: 50%;
}

.avatar_name{
  color: white;
  font-size: 0.85em;
  margin: 0.2em;
}

.avatar_type{
  align-items: center;
  align-self: center;
  color: white;
  font-weight: 600;
  font-size: 0.7em;
  background-color: #0075A6;
  padding: 0.2em 1.5em 0.2em 1.5em;
  border: 0.12em solid white;
  border-radius: 0.8em;
  margin:0.25em 0em ;
}

.avatar_info{
  visibility: hidden;
  color: white;
  display:flex;
  margin:0.25em 0em ;
}