button{
  width: 18em;
  height: 50px;
  padding: 1em 2em 1em 2em;

  margin: 0.40em;
  border-radius: 8px;
  border: 0px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
}

.active{
  visibility: visible;
  background-color: #0075A6;
  color: white;
}

.active:hover{
  border: 1px solid white;
  background-color: #057aac;
}

.innactive{
  visibility: visible;
  background-color: white;
  color:#444444;
}

.innactive:hover{
  border: 1px solid #057aac;
  
}

.disabled{
  visibility:collapse;
  display: none;
}

.logout{
  visibility: visible;
  background-color: #c94b25;
  color: white;
  margin-top: 3em;
}

.logout:hover{
  background-color: #e9582c;
}

