.section{
  width: 100%; 
  height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 10em;
}

#banner-img{
  width: 100%;
}

.content {
  width: 100%;
}
