*{
  box-sizing: border-box;
  margin: 0;
  font-family: ubuntu;
}
.sidebar{
  width: 16.5em;
  height: 100vh;
  background-color: #64AECD;
  display: flex;
  flex-direction: column;
  align-items: center;
}