*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'ubuntu', 'Ubuntu', sans-serif;;
}
.sidebar{
  width: 17em;
  height: 100vh;
  background-color: #64AECD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  pointer-events: none;
  user-select: none;
}

.sidebuttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:  0.50vh;
}

.footer{
  position: absolute;
  width: 9em;
  bottom: 1em;
}

#footer-img{
  width: 100%;

}